@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  font-family: Arial, Helvetica, sans-serif;
} */

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer components {
  .header {
    @apply min-h-16 pl-6 pr-6 pt-2 pb-2;
  }
  .navbar-item {
    @apply h-9
    flex
    items-center
    justify-center
    px-4
    py-2
    rounded-md
    hover:bg-gray-100
    dark:hover:bg-gray-800
    transition-colors;
  }
}
